.parent {
    background: mediumpurple;
    padding: 1rem;
}
.child {
    border: 1px solid indigo;
    padding: 1rem;
}
.float-left-child {
    float: left;
}
#objectInfo{
    margin-left: 10%;
}
.headerMini{
    float: left;
    padding-right: 50px;

}
.headermain{
    margin-bottom: -10px;
    color: white;
    font-size: 20px;
}
.headerMinisuper{
    float: left;
    padding: 5px;
    color: white;
    font-family: Tahoma sans-serif;
    font-size: 17px;
}
.header{
    padding-bottom: 5%;
    background-color: rgba(30, 93, 197, 0.86);
}
#logo{
    width: 50px;
    height: 50px;
}
.negative{
    color: red;
}
.positive{
    color: green;
}
#stockPicker{
    margin-top: 50px;
}
#companyInfo{
    margin-bottom: 150px;
}

