.parent {
    background: mediumpurple;
    padding: 1rem;
}
.child {
    border: 1px solid indigo;
    padding: 1rem;
}
.float-left-child {
    float: left;
}
#objectInfo{
    margin-left: 10%;
}
#graph{
    width: 720px;
    height: 420px;
}